In [1]:
#Author:
#Name;Surname;Number;
#Bartosz;Durys;229869;

In [2]:
import pandas as pd

In [3]:
#Liczebność całkowita gatunków:
def getCount(arr):
    return arr["species"].count()

In [4]:
#Liczebność danego gatunku:
def getSpeciesCount(arr, index):
    return ((arr[(arr["species"]) == index])["species"]).count()

In [5]:
#Udział procentowy danego gatunku:
def getSpeciesPercentage(arr, speciesCount, count):
    return (speciesCount/count) * 100

In [6]:
#Wartość maksymalna:
def getMax(arr, name):
    return arr[name].max()

In [7]:
#Wartość minimalna:
def getMin(arr, name):
    return arr[name].min()

In [8]:
#Wartość średnia:
def getMean(arr, name):
    return arr[name].mean()

In [9]:
#Odchylenie standardowe dla próby: 
def getStandardDeviation(arr, name):
    arr = arr[name]
    s = 0;
    avg = arr.mean()
    for el in arr:
        s += (el - avg) ** 2
    res = (s / (len(arr)-1)) ** (0.5)
    return res

In [10]:
#Kwantyle:
def getQuantile(arr, name, val):
    return arr[name].quantile(val)

In [11]:
speciesList = ["setosa", "versicolor", "virginica"]
columnNames =["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]
irisArr = pd.read_csv("data.csv", names = columnNames)

In [12]:
irisArr

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [13]:
#Liczebność wszystkich irysów:
irisCount = getCount(irisArr)

In [14]:
irisCount

150

In [15]:
#Liczebność poszczególnych gatunków:
countList = []
for i in range(3):
     countList.append(getSpeciesCount(irisArr, i))

In [16]:
countList

[50, 50, 50]

In [17]:
#Udziały procentowe poszcególnych gatunków:
percList = []
for count in countList:
     percList.append(getSpeciesPercentage(irisArr, count, irisCount))

In [18]:
percList

[33.33333333333333, 33.33333333333333, 33.33333333333333]

In [19]:
#Wyświetlenie liczby i udziału procentowego DataFrame:     
countPercColumn=[]
for c, p in zip(countList, percList):
    countPercColumn.append(str(c) + " (" + str(format(p,'.1f')).replace(".",",") + "%)")

In [20]:
countPercColumn

['50 (33,3%)', '50 (33,3%)', '50 (33,3%)']

In [21]:
countPercColumn.append(str(sum(countList)) + " (" + format(sum(percList),'.1f').replace(".",",") + "%)")

In [22]:
countPercColumn

['50 (33,3%)', '50 (33,3%)', '50 (33,3%)', '150 (100,0%)']

In [23]:
speciesColumn = speciesList + ["Razem"]
countDataFrame = pd.DataFrame({"Liczebność (%)":countPercColumn}, index=speciesColumn)
countDataFrame.columns.name = "Gatunek"

In [24]:
countDataFrame

Gatunek    Liczebność (%)
setosa         50 (33,3%)
versicolor     50 (33,3%)
virginica      50 (33,3%)
Razem        150 (100,0%)

In [25]:
#Style do DataFrame
lastTopBorderStyle = dict(selector="tr:last-child", props=[("border-top-style", "solid")])
textThStyle = dict(selector="th", props=[("text-align", "left"),("border-width", "1px"),("border-style", "solid")])
textTdStyle = dict(selector="td", props=[("border-width", "1px"), ("border-style", "solid")])
textTdStyleCenter = dict(selector="td", props=[("text-align", "center")])
borderStyle = dict(selector="tbody, thead", props=[("border-style", "solid"), ("border-width", "2px")])

In [26]:
stylesForCountDataFrame = [
    lastTopBorderStyle,
    textThStyle,
    textTdStyle,
    borderStyle
]

In [27]:
countDataFrameStyled = countDataFrame.style.set_table_styles(stylesForCountDataFrame)

In [28]:
countDataFrameStyled

In [29]:
#Wyświetlenie kolejnych atrybutów (długość/szerokość kielicha/płatka) DataFrame:
minList = []
meanList = []
stanDevList = []
quantile50List = []
quantile25List = []
quantile75List = []
maxList = []

In [30]:
for attribute in columnNames[0:4]:
    minList.append(format(getMin(irisArr, attribute),'.1f').replace(".",","))
    meanList.append(format(getMean(irisArr, attribute),'.2f').replace(".",","))
    stanDevList.append(format(getStandardDeviation(irisArr, attribute),'.2f').replace(".",","))
    quantile50List.append(format(getQuantile(irisArr, attribute, 0.5),'.2f').replace(".",","))
    quantile25List.append(format(getQuantile(irisArr, attribute, 0.25),'.2f').replace(".",","))
    quantile75List.append(format(getQuantile(irisArr, attribute, 0.75),'.2f').replace(".",","))
    maxList.append(format(getMax(irisArr, attribute),'.1f').replace(".",","))

In [31]:
minList

['4,3', '2,0', '1,0', '0,1']

In [32]:
meanList

['5,84', '3,06', '3,76', '1,20']

In [33]:
stanDevList

['0,83', '0,44', '1,77', '0,76']

In [34]:
quantile50List

['5,80', '3,00', '4,35', '1,30']

In [35]:
quantile25List

['5,10', '2,80', '1,60', '0,30']

In [36]:
quantile75List

['6,40', '3,30', '5,10', '1,80']

In [37]:
maxList

['7,9', '4,4', '6,9', '2,5']

In [38]:
meanColumn=[]
for m, s in zip(meanList, stanDevList):
    meanColumn.append(m.replace(".",",") + " (±" + s.replace(".",",") + ")")

In [39]:
meanColumn

['5,84 (±0,83)', '3,06 (±0,44)', '3,76 (±1,77)', '1,20 (±0,76)']

In [40]:
quantileColumn=[]
for q50, q25, q75 in zip(quantile50List, quantile25List, quantile75List):
    quantileColumn.append(q50.replace(".",",") + " (" + q25.replace(".",",") +" - "+ q75.replace(".",",") + ")")

In [41]:
quantileColumn

['5,80 (5,10 - 6,40)',
 '3,00 (2,80 - 3,30)',
 '4,35 (1,60 - 5,10)',
 '1,30 (0,30 - 1,80)']

In [42]:
descColumn = ["Długość działki kielicha (cm)", "Szerokość działki kielicha (cm)", "Długość płatka (cm)", 
              "Szerokość płatka (cm)"]

charactDataFrame = pd.DataFrame({"Minimum":minList,"Śr. arytm. (± odch. stand.)":meanColumn,
                              "Mediana (Q1 - Q3)":quantileColumn,"Maksimum":maxList}, index=descColumn)

charactDataFrame.columns.name = "Cecha"

In [43]:
charactDataFrame

Cecha,Minimum,Śr. arytm. (± odch. stand.),Mediana (Q1 - Q3),Maksimum
Długość działki kielicha (cm),"4,3","5,84 (±0,83)","5,80 (5,10 - 6,40)","7,9"
Szerokość działki kielicha (cm),"2,0","3,06 (±0,44)","3,00 (2,80 - 3,30)","4,4"
Długość płatka (cm),"1,0","3,76 (±1,77)","4,35 (1,60 - 5,10)","6,9"
Szerokość płatka (cm),"0,1","1,20 (±0,76)","1,30 (0,30 - 1,80)","2,5"

In [44]:
stylesForCharactDataFrame = [
    textThStyle,
    textTdStyle,
    textTdStyleCenter,
    borderStyle
]

In [45]:
charactDataFrameStyled = charactDataFrame.style.set_table_styles(stylesForCharactDataFrame)

In [46]:
charactDataFrameStyled

In [47]:
#Podsumowanie:

In [48]:
countDataFrameStyled

In [49]:
charactDataFrameStyled